@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #00db54;
  --color-secondary: teal;
  --color-cardBg: #6b7280;
}
